body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #B80F0A; }

hr.light {
  border-color: #fff; }

a {
  color: #B80F0A;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover {
    color: #b80f0a; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.bg-primary {
  background-color: #B80F0A !important; }

.bg-dark {
  background-color: #212529 !important; }

.dark-mode {
  background-color: #212529 !important;
  color: #fff; }

.dark-mode-lighter {
  background-color: #343a40 !important;
  color: #fff; }

.dark-mode-header {
  background-image: url("../img/header-dark.jpg") !important; }

.dark-mode-muted {
  color: rgba(255, 255, 255, 0.7); }

#dark-mode-moon {
  font-size: 1.4rem; }
  #dark-mode-moon:hover {
    color: #B80F0A;
    cursor: pointer; }

#light-mode-sun {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem; }
  #light-mode-sun:hover {
    color: #B80F0A;
    cursor: pointer; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

#contact-logo {
  font-size: 64px; }

.contact-logo-dark {
  color: black !important; }

.mail-icon {
  color: black !important; }

.contact-link {
  color: #6c757d !important;
  text-decoration: none; }
  .contact-link:focus, .contact-link:hover {
    color: #b80f0a !important; }
  .contact-link a {
    color: #6c757d !important;
    text-decoration: none; }
    .contact-link a:focus, .contact-link a:hover {
      color: #b80f0a !important;
      cursor: pointer; }

.fa-gamepad {
  color: white;
}

.contact-link-dark {
  color: rgba(255, 255, 255, 0.7) !important;
  text-decoration: none; }
  .contact-link-dark:focus, .contact-link-dark:hover {
    color: #b80f0a !important; }
  .contact-link-dark a {
    color: rgba(255, 255, 255, 0.7) !important;
    text-decoration: none; }
    .contact-link-dark a:focus, .contact-link-dark a:hover {
      color: #b80f0a !important;
      cursor: pointer; }

.carousel-image {
  height: 75px;
  font-size: 75px;
}

.carousel-image:hover {
  color: black;
  transition: 0.3s;
}

.carousel-text {
  color: white;
}

section {
  padding: 8rem 0; }

#portfolio {
  padding-bottom: 53px;
}

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

.hidden {
  display: none; }

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #B80F0A;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #b80f0a; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #B80F0A; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: #B80F0A !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #fff; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #B80F0A; }
      #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #B80F0A; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #b80f0a; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #212529; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #B80F0A; } }
  #mainNav.main-nav-dark {
    background-color: #212529 !important;
    color: #fff; }
    #mainNav.main-nav-dark .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.main-nav-dark .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #fff; }
      #mainNav.main-nav-dark .navbar-nav > li.nav-item > a.nav-link:hover,
      #mainNav.main-nav-dark .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #B80F0A; }
    #mainNav.main-nav-dark .navbar-brand {
      color: #B80F0A; }
      #mainNav.main-nav-dark .navbar-brand:focus, #mainNav.main-nav-dark .navbar-brand:hover {
        color: #b80f0a; }
  #mainNav .navbar-toggler-icon-dark {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  #mainNav.navbar-shrink-dark {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #212529; }
    #mainNav.navbar-shrink-dark .navbar-brand {
      color: #B80F0A; }
      #mainNav.navbar-shrink-dark .navbar-brand:focus, #mainNav.navbar-shrink-dark .navbar-brand:hover {
        color: #b80f0a; }
  @media (min-width: 992px) {
    #mainNav.main-nav-dark {
      background-color: #212529 !important;
      color: #fff; }
      #mainNav.main-nav-dark .navbar-nav > li.nav-item > a.nav-link,
      #mainNav.main-nav-dark .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav.main-nav-dark .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav.main-nav-dark .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #B80F0A; }
    #mainNav.navbar-shrink-dark {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #212529; }
      #mainNav.navbar-shrink-dark .navbar-brand {
        color: #B80F0A; }
        #mainNav.navbar-shrink-dark .navbar-brand:focus, #mainNav.navbar-shrink-dark .navbar-brand:hover {
          color: #b80f0a; } }

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/header.png");
  background-position: center center;
  background-color: #212529;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px; }
  header.masthead h1 {
    font-size: 2rem; }
  header.masthead p {
    font-weight: 300; }
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem; } }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead h1 {
        font-size: 3rem; } }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 4rem; } }

.service-box {
  max-width: 400px; }

#continue {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px; }
  #continue:hover {
    color: #fff; }

.logo {
  height: 64px;
  width: 64px;
  margin-bottom: 16px; }

#carousel-portfolio {
  margin-bottom: 24px;
  max-height: 600px; }

#carousel-portfolio img {
  width: 100%;
  min-height: 250px;
  max-height: 250px; }

.carousel-content {
  min-height: 150px; }

.carousel-description {
  min-height: 264px; }

.iOne {
  margin-bottom: 139px !important;
}

@media (min-width: 500px) {
  #carousel-portfolio img {
    width: 100%;
    min-height: 300px;
    max-height: 300px; }

  .carousel-description {
    min-height: 168px; } }
@media (min-width: 767.98px) {
  #carousel-portfolio img {
    width: 100%;
    min-height: 500px;
    max-height: 500px; }

  .carousel-description {
    min-height: 120px; } }
@media (min-width: 1200px) {
  .carousel-description {
    max-height: 100px; } }
.text-primary {
  color: #B80F0A !important; }

.navbar-toggler {
  border: none; }
  .navbar-toggler:focus {
    border: none;
    outline: none; }

.text-muted {
  color: #6c757d; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 1rem 2rem; }

.btn-primary {
  background-color: #B80F0A;
  border-color: #B80F0A; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #a00d09 !important; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 64, 64, 0.5) !important; }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 0.15s ease; }

.carousel-control-prev {
  margin-left: 0px; }

.carousel-control-next {
  margin-right: 0px; }

@media (min-width: 992px) {
  .carousel-control-prev {
    margin-left: -90px; }

  .carousel-control-next {
    margin-right: -90px; } }

/*# sourceMappingURL=styles.css.map */
