// Styling for the portfolio section
#carousel-portfolio {
    margin-bottom: 24px;
    max-height: 600px;
}

#carousel-portfolio img {
    width: 100%;
    min-height: 500px;
    max-height: 500px;
}

.carousel-description {
}

.carousel-content {
    min-height: 150px;
}